NODE_ENV=development
APP_NAME=seaguntech-node-api-template
HOST=0.0.0.0
PORT=3000
APP_DOMAIN=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=public
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=replace-me-access-secret
JWT_REFRESH_SECRET=replace-me-refresh-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

DOCS_USERNAME=
DOCS_PASSWORD=
DOCS_BASIC_AUTH_ENABLED=false
